<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url(../../../assets/img/fondo.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Shuar mejora tu calidad de vida</h1>
          <p class="intro-subtitle text-white"><span class="text-slider-items">Disfruta del cambio, Disfruta de la comodidad, Mejores resultados, Tu mejor opción</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
<!-- Información -->
<section id="mision" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="imagen1">
                                <figure>
                                    <img class="pl-1 img-fluid imagen-dentro" src="../../../assets/img/ca2.jpg" alt="MISIÓN">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                       Misión
                                    </h5>
                                </div>
                                <p class="lead">
                                  Nuestra misión es satisfacer las necesidades de nuestros clientes, mediante la comercializacion de productos y servicios de optima calidad, que se ajusten a las necesidades del mismo, generando asi economía,desarrollo y crecimiento para el sector productivo, para empleados y accionistas. Respondemos a la confianza depositada en nosotros. Cooperamos en el bien común de los miembros de nuestra organización.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--Seccion imagen azul-->
<div class="section-counter paralax-mf bg-image" style="background-image: url(../../../assets/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row text-center">
      </div>
    </div>
  </div>
  <section id="vision" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Visión
                                    </h5>
                                </div>
                                <p class="lead">
                                  Ser la empresa líder en servicios con calidad de punta tanto en servicios de transporte y distribución de productos, la conservación y procesamiento de estos, que generen valor agregado al cliente y se conviertan en alternativas para el desarrollo económico, social y cultural de clientes, empleados y accionistas.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="imagen1">
                                <figure>
                                    <img class="pl-1 img-fluid imagen-dentro"  src="../../../assets/img/familia.jpg" alt="VISIÓN">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
   <!--/ Section Services Star/-->
   <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Administración
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Servicios</h2>
              <p class="s-description text-center">
               Nuestros servicios al alcanze de tus manos, solicitanos desde cualquier parte donde te encuentres, a cualquier hora nos encontramos disponibles para servirte.
               Trasportarse y alimentarse es una necesidad y está es la forma más innovadora de hacerlo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Asociados</h2>
              <p class="s-description text-center">
                Todos formamos un equipo, nosotros con los mejores, encontraras todas las cadenas que puedas imaginar a tu disposición para satisfacer tu necesidad y todo desde la puerta de tu Hogar.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Productos</h2>
              <p class="s-description text-center">
                Productos de todo tipo,principalmente para satisfacer a éste mercado en específico, personas que cuenten con tiempo limitado y quiera deleitarse con alimentos saludables, balanceados, diversos, etc.
              </p>
            </div>
          </div>
        </div> 
    
        <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portafolio
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../../assets/img/work-1.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../../../assets/img/ca2.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Transporte rápido y seguro</h2>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../../assets/img/work-2.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../../../assets/img/comidaf.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Comida desde cualquier parte a domicilio</h2>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../../assets/img/work-3.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../../../assets/img/work-3.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Tus productos a tiempo</h2>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../../assets/img/work-4.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../../../assets/img/work-4.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Sea a tu trabajo o casa</h2>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../../assets/img/work-5.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../../../assets/img/FarCamilaBenef.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">La medicina a tu alcanze</h2>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="../../../assets/img/work-6.jpg" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="../../../assets/img/work-6.jpg" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Fácil de acceder desde tu dispositivo</h2>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->
  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(../../../assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">Localización</h5>
                  </div>
                  <div class="">
                    <p Estamos ubicados en el Sector del Inca calle Pio Valdiviezo E4-115 y Pedro Veloz(frente al parque Pio Valdiviezo) 
                    Numero de contacto  0983509621></p>
                    <p>Para mayor informacion de nuestros productos y servicios: <br>
                      <a href="mailto:klever.guerrero@point-technical.com"> Click para escribirnos un correo.</a></p>
                  </div>
                  <div class="col-md-4">
                    <div class="work-box">
                      <div class="m-2 p-2">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.9014881051328!2d-78.48042565910413!3d-0.1589031054777689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59aa2f46d927d%3A0x6a6a9a12c133cc67!2sPescados%20de%20la%20Maldonado!5e0!3m2!1ses-419!2sec!4v1601061014996!5m2!1ses-419!2sec" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        <p class="copyright">&copy; Copyright <strong>Point Tecnical</strong>. 2021></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Contact-footer End /-->