<br><br><br>

<form (ngSubmit)="updateProducto()">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form-control" [(ngModel)]='producto.nombre'>
      </div>
    <div class="form-group">
      <label for="detalle">Detalle</label>
      <input type="text" name="detalle" class="form-control" [(ngModel)]='producto.detalle'>
    </div>
    <div class="form-group">
        <label for="precio">Precio</label>
        <input type="text" name="precio" class="form-control" [(ngModel)]='producto.precio'>
      </div>
    <div class="form-group">
        <label for="foto">Foto</label>
        <input type="text" name="foto" class="form-control" [(ngModel)]='producto.foto'>
      </div>
      <div class="form-group">
        <label for="asociado_id">Asociado_id</label>
        <input type="text" name="asociado_id" class="form-control" [(ngModel)]='producto.asociado_id'>
      </div>
      <br>
    <button class="btn btn-dark btn-sm mt-4">Actualizar</button>
    <td><button class="btn btn-dark btn-sm mt-4" routerLink="/producto">Regresar</button></td>
  </form>
  